.logo{
    background-color: #99823D;
    width: 326px;
}
.text-decoration{
    text-decoration: none;
    list-style: none;
}
.container{
    width: 1312px;
    height: 68px;
}
.width1{
    width: 270px;
    
}